<link rel="stylesheet" href="/track/static/track/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/track/static/track/css/bootstrap-theme.min.css" type="text/css" />

<body>
{{ surveys }}
</body>