<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Work Based Placement Assesment</title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "track/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<!--      <span class="sr-only">Toggle navigation</span>-->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Work Based Placement Assesment</a>
  </div>
  <div class="navbar-header">
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search" method="post" >
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      {% csrf_token %}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div id="biglist" class="biglist list-group">
	        {% for p in surveys %}
                {% if not p.submitdate == None %}
    		        {% load url from future %}
                    <a href="{% url 'student' p.id %}" class="list-group-item">{{p.submitdate|date:'d-m-y H:i A'}} - {{p.proc}}</a>
                {% endif %}
            {% endfor %}
          </div>
	  <div class="pagination">
    <span class="step-links">
        {% if surveys.has_previous %}
            <a href="{% url 'student' current.id %}?page={{ surveys.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ surveys.number }} of {{ surveys.paginator.num_pages }}.
        </span>

        {% if surveys.has_next %}
            <a href="{% url 'student' current.id %}?page={{ surveys.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
        </div><!--/span-->

        <div class="col-xs-12 col-sm-9">
<!--          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>-->
          <div class="row">
              <h1>{{ survey }}</h1>
	
	      {% for q in data %}
	      <dl>
	  	<dt>{{q.question}}</dt>
		<dd>{{q.answer}}</dd>
              </dl>
	      {% endfor %}
		{% load url from future %}
	      <a href="{% url 'student' prev %}">Previous</a>
	      <a href="{% url 'student' next %}">Next</a>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "track/js/bootstrap.min.js" %}"></script>
  </body>
</html>
